html.dark .prose h1,
html.dark .prose h2,
html.dark .prose h3,
html.dark .prose h4,
html.dark .prose strong,
html.dark .prose a,
html.dark .prose blockquote,
html.dark .prose code {
  color: white;
}
html.dark .prose pre,
html.dark .prose .operator {
  background: black;
}
html.dark .prose code .token {
  text-shadow: none;
}
html.dark .prose p > code,
html.dark .prose li > code {
  background-color: rgb(40, 50, 75);
  color: white;
}
