/**
 * Global Styles
 */
html {
  min-height: 100vh;
}
html.dark {
  background-color: rgb(31, 41, 55);
}
.h-underline {
  position: relative;
  width: max-content;
  z-index: 1;
}
.h-underline::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -0.25rem;
  width: 100%;
  height: 2px;
  background: #0087d6;
  z-index: -1;
}
.page-header {
  font-family: 'Poppins';
  font-weight: 800;
  font-size: 2.25em;
  margin-top: 0;
  margin-bottom: 0.8888889em;
  line-height: 1.1111111;
}
.link {
  font-weight: bold;
  text-decoration: underline;
}
