.zoom-enter-active,
.zoom-leave-active {
  transition: opacity 250ms ease-in-out, transform 250ms ease-in-out;
  transform-origin: top left;
  transform: scale(1);
}

.zoom-enter,
.zoom-leave-to {
  opacity: 0;
  transform: scale(0);
}
