.zoom-enter-active,
.zoom-leave-active {
  transition: opacity 250ms ease-in-out, transform 250ms ease-in-out;
  transform-origin: top left;
  transform: scale(1);
}

.zoom-enter,
.zoom-leave-to {
  opacity: 0;
  transform: scale(0);
}

.slide-enter-active,
.slide-leave-active {
  transition: transform 200ms cubic-bezier(0.5, 0.2, 0.3, 1.0);
  transform: translateX(0);
}

.slide-enter,
.slide-leave-to {
  transform: translateX(-100%);
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 200ms cubic-bezier(0.5, 0.2, 0.3, 1.0);
  opacity: 1;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}
